.aboutgrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: clamp(1rem, 2.5vw, 2rem);
  @include media('>=md') {
    grid-template-columns: 1fr 1fr;
  }
  @include media('>lg') {
    grid-template-columns: 1fr 2fr;
  }
  @include media('>xl') {
    grid-template-columns: 1fr 3fr;
  }
}

.about {
  &__image {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    height: fit-content;
    aspect-ratio: 3/4;
  }

  &__body {
    font-size: clamp(1.15rem, 2.5vw, 1.15rem);
    color: $grayscale-600;
  }
}
