.aboutgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  // gap: clamp(1rem, 8vw, 7rem);
  gap: 3rem;
}

.about {
  &__image {
    overflow: hidden;
    border-radius: $border-radius;
    height: fit-content;
  }

  &__body {
    font-size: clamp(1rem, 2.5vw, 1.05rem);
    color: $grayscale-600;
  }

  &__bodygrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__downloadicon svg {
    fill: white;
    height: 1.75rem;
  }

  &__download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @include button-size(0.9rem);
    background-color: $brand-primary;
    width: fit-content;
    border-radius: $border-radius;
    color: $grayscale-100;
    cursor: pointer;
    font-weight: 600;
  }
}
