$icon-size: 2.75rem;

.navbar {
  width: 100%;
  background-color: rgba($color: $grayscale-100, $alpha: 0.9);
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  z-index: 99;
  // border: 1px solid red;

  &__logo {
    margin: auto 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }

  &__hamburger,
  &__exit,
  &__shoppingbag {
    margin: auto 0;
    height: $icon-size;
    width: $icon-size;
    cursor: pointer;
  }

  &__hamburger {
    background-color: $grayscale-100;
    fill: $grayscale-800;
  }

  &__exit {
    background-color: $grayscale-100;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  &__shoppingbag {
    position: relative;
    background-color: $grayscale-100;
    fill: $grayscale-800;
    height: $icon-size - 0.35rem;
    width: $icon-size - 0.35rem;
  }

  &__links {
    position: fixed;
    left: 0%;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $grayscale-100;
    display: flex;
    flex-direction: column;
    transition: all ease 0.15s;
  }

  &__link {
    color: $brand-secondary-100;
    font-size: clamp(2rem, 2vw, 4rem);
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin-left: 2rem;
    text-decoration: none;

    &:first-child {
      margin-top: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__spacer {
    height: 3.5rem;
    width: 100%;
    background-color: $grayscale-100;
  }

  @include media('>=md') {
    &__hamburger,
    &__exit {
      display: none;
    }

    &__links {
      position: static;
      flex-direction: row;
      width: fit-content;
      margin: auto 0;
      background-color: $grayscale-100;
    }

    &__link {
      font-size: 1.25rem;
      margin-left: 0rem;
      color: $brand-secondary-100;
      font-weight: 500;
      // background-color: red;
      // padding: 1rem 0rem;

      &:first-child {
        margin-top: 0rem;
      }

      &:not(:last-child) {
        margin-bottom: 0rem;
        margin-right: 2rem;
      }
    }
  }
}

.open-nav {
  left: 0%;
}
