.project {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem 0rem;

  &__title {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 700;
    color: $brand-primary;
  }

  &__image {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &__linksgroup {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0rem 1rem 1rem 0rem;
    z-index: 2;
    display: flex;
    gap: 1rem;
  }

  &__linkicon {
    width: 1.25rem;
  }

  &__linkicon > svg {
    fill: white;
  }

  &__website {
    display: flex;
    @include button-size(0.85rem);
    align-items: center;
    gap: 0.75rem;
    color: $grayscale-100;
    font-weight: 500;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &--github {
    background-color: #333;
  }

  &--site {
    background-color: $brand-primary;
  }

  &__lighthousegroup {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // border: 1px solid red;
    border-bottom: 1px solid $grayscale-400;
    padding-bottom: 0.75rem;
    gap: 0.75rem;
  }

  &__lighthouseicon {
    max-width: 2.25rem;
  }

  &__lighthousetext {
    font-size: 1.5rem;
  }

  &__metrics {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  // &__overviews {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   text-align: center;
  //   row-gap: 1rem;
  //   border: 1px solid red;
  // }

  // &__gaugeitem {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 0.5rem;
  //   margin: 0 auto;
  //   width: clamp(8rem, 35vw, 12rem);
  //   border: 1px solid blue;
  // }

  // &__gaugecircle {
  //   aspect-ratio: 1;
  //   background-color: rgba($color: #008a00, $alpha: 0.15);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   border-radius: 50%;
  //   border: 6px solid #008a00;
  //   // max-width: 8rem;
  // }

  // &__gaugevalue {
  //   color: #008a00;
  //   font-size: clamp(3rem, 12vw, 5rem);
  // }

  &__overviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem 2rem;
    width: 90%;
    margin: 0rem auto;
    // border: 1px solid red;
  }

  &__gaugeitem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__gaugecircle {
    aspect-ratio: 1;
    background-color: rgba($color: #008a00, $alpha: 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 6px solid #008a00;
  }

  &__gaugevalue {
    color: #008a00;
    font-size: clamp(3rem, 16vw, 8rem);
  }

  &__gaugetitle {
    color: $grayscale-900;
    font-weight: 500;
  }

  &__metricitem {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid $grayscale-400;
  }

  &__metrictitle {
    font-weight: 400;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -1.3rem;
      top: 0.35rem;
      border-radius: 10rem;
      width: 0.75rem;
      aspect-ratio: 1/1;
      background-color: #008a00;
    }
  }

  &__metricvalue {
    color: #008a00;
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__testimonial {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding: 2rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: $border-radius;
  }

  &__persongroup {
    display: flex;
    flex-direction: column;
  }

  &__author {
    font-weight: 500;
    font-size: 1.15rem;
  }

  &__position {
    color: $grayscale-500;
    font-weight: 500;
  }

  &__quote {
    quotes: none;
    font-weight: 600;
    font-size: 1.15rem;
  }

  &__quoteicon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.75rem 1.5rem;
    width: 3.5rem;
    color: $brand-primary;
    opacity: 0.4;
  }

  @include media('>sm+') {
    &__metrics {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
    }

    &__overviews {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
    }

    &__gaugeitem {
      margin: unset;
      width: auto;
    }

    &__gaugevalue {
      color: #008a00;
      font-size: 3rem;
    }
  }
}

.projectsgrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}
