$brand-primary: #c62131;
$brand-secondary-100: #262626;
$brand-secondary-200: #b3cee2;
$brand-secondary-300: #d9dde7;
$brand-secondary-400: #172c4b;
// $brand-primary: #116acc;
// $brand-secondary-100: #03244d;
// $brand-secondary-200: #b3cee2;
// $brand-secondary-300: #d9dde7;
// $brand-secondary-400: #fd4e5d;

$grayscale-100: hsl(0, 0%, 100%);
// $grayscale-100: hsl(0, 0%, 96%);
$grayscale-200: #f3f4f6;
$grayscale-300: #d1d5db;
$grayscale-400: #9ca3af;
$grayscale-500: #6b7280;
$grayscale-600: #4b5563;
$grayscale-700: #374151;
$grayscale-800: #1f2937;
$grayscale-900: #000000;

$state-info: #3498db;
$state-error: #e74c3c;
$state-warning: #f1c40f;
$state-success: #07bc0c;
