.responsive-width {
  width: min(90%, 60rem);
  margin: auto;
}

.responsive-width-form {
  width: min(90%, 35rem);
  margin: auto;
}

.responsive-width-cta {
  width: min(90%, 50rem);
  margin: auto;
}

.responsive-width-article {
  width: min(90%, 50rem);
  margin: auto;
}

.responsive-width-contact {
  width: min(90%, 40rem);
  margin: auto;
}

.responsive-width-footer {
  width: fit-content;
  margin: auto;
}

.extended {
  min-height: 150vh;
}
