html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  line-height: 1.6;
}

.responsive-width {
  width: 90%;
  margin: auto;
}

@media (min-width: 1367px) {
  .responsive-width {
    max-width: 65%;
  }
}

@media (min-width: 2161px) {
  .responsive-width {
    max-width: 100rem;
  }
}

.responsive-width-half {
  width: 90%;
  margin: auto;
}

@media (min-width: 1025px) {
  .responsive-width-half {
    width: 75%;
  }
}

@media (min-width: 1367px) {
  .responsive-width-half {
    width: 60%;
  }
}

@media (min-width: 2161px) {
  .responsive-width-half {
    max-width: 100rem;
  }
}

.responsive-width-form {
  width: clamp(1rem, 90vw, 40rem);
  margin: auto;
}

.responsive-width-cta {
  width: clamp(1rem, 90vw, 50rem);
  margin: auto;
}

.responsive-width-projects {
  width: clamp(1rem, 90vw, 40rem);
  margin: auto;
}

.responsive-width-contact {
  width: 90%;
  margin: auto;
}

@media (min-width: 768px) {
  .responsive-width-contact {
    width: 45rem;
  }
}

@media (min-width: 1025px) {
  .responsive-width-contact {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.responsive-width-footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  z-index: 99;
}

.navbar__logo {
  margin: auto 0;
}

.navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

.navbar__hamburger, .navbar__exit, .navbar__shoppingbag {
  margin: auto 0;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
}

.navbar__hamburger {
  background-color: white;
  fill: #1f2937;
}

.navbar__exit {
  background-color: white;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.navbar__shoppingbag {
  position: relative;
  background-color: white;
  fill: #1f2937;
  height: 2.4rem;
  width: 2.4rem;
}

.navbar__links {
  position: fixed;
  left: 0%;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
}

.navbar__link {
  color: #262626;
  font-size: clamp(2rem, 2vw, 4rem);
  padding: 0.5rem 0rem 0.5rem 0rem;
  margin-left: 2rem;
  text-decoration: none;
}

.navbar__link:first-child {
  margin-top: 1rem;
}

.navbar__link:not(:last-child) {
  margin-bottom: 0.5rem;
}

.navbar__spacer {
  height: 3.5rem;
  width: 100%;
  background-color: white;
}

@media (min-width: 768px) {
  .navbar__hamburger, .navbar__exit {
    display: none;
  }
  .navbar__links {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto 0;
    background-color: white;
  }
  .navbar__link {
    font-size: 1.25rem;
    margin-left: 0rem;
    color: #262626;
    font-weight: 500;
  }
  .navbar__link:first-child {
    margin-top: 0rem;
  }
  .navbar__link:not(:last-child) {
    margin-bottom: 0rem;
    margin-right: 2rem;
  }
}

.open-nav {
  left: 0%;
}

.footer {
  background-color: #172c4b;
  padding: clamp(2rem, 4vw, 4rem) 0rem;
}

.footer__logo {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  text-align: center;
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.footer__header {
  color: white;
  font-weight: 600;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__linksgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.footer__section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.footer__socialgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  margin-top: 1rem;
}

.footer__socialicon {
  width: 25px;
  fill: white;
}

.footer__clearsvg {
  fill: #172c4b;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .footer__linksgrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5rem;
  }
  .footer__section {
    text-align: left;
  }
}

.section {
  padding: clamp(1.25rem, 4vw, 2.5rem) 0rem;
  position: relative;
  scroll-margin-top: clamp(1.25rem, 4vw, 2.5rem);
}

.section__contentgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.section__header {
  font-weight: 500;
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  text-align: left;
  position: relative;
  margin-bottom: 0.75rem;
}

.section__header::before {
  content: '';
  position: absolute;
  height: 0.25rem;
  width: clamp(4rem, 8vw, 8rem);
  background-color: #c62131;
  bottom: -0.6rem;
  border-radius: 20rem;
}

.section--bg--primary {
  background-color: #c62131;
}

.section--bg--secondary-100 {
  background-color: #262626;
}

.section--bg--secondary-200 {
  background-color: #b3cee2;
}

.section--bg--secondary-300 {
  background-color: #d9dde7;
}

.section--bg--secondary-400 {
  background-color: #172c4b;
}

.section--bg--grayscale-100 {
  background-color: white;
}

.section--bg--grayscale-200 {
  background-color: #f3f4f6;
}

.section--bg--grayscale-300 {
  background-color: #d1d5db;
}

.section--bg--grayscale-400 {
  background-color: #9ca3af;
}

.section--bg--grayscale-500 {
  background-color: #6b7280;
}

.section--bg--grayscale-600 {
  background-color: #4b5563;
}

.section--bg--grayscale-700 {
  background-color: #374151;
}

.section--bg--grayscale-800 {
  background-color: #1f2937;
}

.section--bg--grayscale-900 {
  background-color: #000000;
}

.section--text--primary {
  color: #c62131;
}

.section--text--secondary-100 {
  color: #262626;
}

.section--text--secondary-200 {
  color: #b3cee2;
}

.section--text--secondary-300 {
  color: #d9dde7;
}

.section--text--secondary-400 {
  color: #172c4b;
}

.section--text--grayscale-100 {
  color: white;
}

.section--text--grayscale-200 {
  color: #f3f4f6;
}

.section--text--grayscale-300 {
  color: #d1d5db;
}

.section--text--grayscale-400 {
  color: #9ca3af;
}

.section--text--grayscale-500 {
  color: #6b7280;
}

.section--text--grayscale-600 {
  color: #4b5563;
}

.section--text--grayscale-700 {
  color: #374151;
}

.section--text--grayscale-800 {
  color: #1f2937;
}

.section--text--grayscale-900 {
  color: #000000;
}

.cta {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAAAXNSR0IArs4c6QAAAMRJREFUaEPtljEOwjAAxJrf8SOE0jER4kf8Loi1EpuvSoM7dnBzdoaWbbGnLLZn+zmotfbc9/1xtcEOmr2YhS5RqPd+Px60lHIbY7yP72utr5lHeeVmrvM9m4UsdLKB//mXO1ks9jkLYSpDIAuFxGJYC2EqQyALhcRiWAthKkMgC4XEYlgLYSpDIAuFxGJYC2EqQyALhcRiWAthKkMgC4XEYlgLYSpDIAuFxGJYC2EqQyALhcRiWAthKkMgC4XEYtjlCn0AC+8wNY7+9VoAAAAASUVORK5CYII=");
  min-height: calc(100vh - (2.875rem * 4));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fr)[1];
      grid-template-columns: repeat(1, fr);
  gap: 2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.cta__header {
  color: #c62131;
  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: 600;
  text-align: center;
}

.cta__subheader {
  font-size: clamp(1.25rem, 5vw, 2rem);
  color: #4b5563;
  text-align: center;
}

.cta__buttongrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #172c4b;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem 0rem 1rem 0rem;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.cta__button:hover {
  background-color: rgba(23, 44, 75, 0.95);
}

.cta__buttonalt {
  padding: 0.9375rem 1.5rem;
  font-size: 1rem;
  border: 0.125rem solid #172c4b;
  color: #172c4b;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.cta__buttonalt:hover {
  background-color: rgba(23, 44, 75, 0.1);
}

@media (min-width: 480px) {
  .cta__buttongrid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .cta__button {
    padding: 0.8625rem 1.725rem;
    font-size: 1.15rem;
    margin: 0rem 1rem 0rem 0rem;
    width: clamp(13rem, 5vw, 14rem);
  }
  .cta__buttonalt {
    padding: 1.05rem 1.725rem;
    font-size: 1.15rem;
    border: 0.2rem solid #172c4b;
    width: clamp(13rem, 5vw, 14rem);
  }
}

@media (min-width: 769px) {
  .cta {
    min-height: calc(100vh - 2.875rem);
  }
}

.aboutgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: clamp(1rem, 8vw, 7rem);
}

.about__image {
  overflow: hidden;
  border-radius: 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about__body {
  font-size: clamp(1rem, 5vw, 1.25rem);
  color: #4b5563;
}

.about__bodygrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.about__downloadicon svg {
  fill: white;
  height: 2rem;
}

.about__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #c62131;
  max-width: 14.75rem;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0rem;
}

.project__title {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 700;
  color: #c62131;
}

.project__image {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project__linksgroup {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0rem 1rem 1rem 0rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.project__linkicon {
  width: 1.25rem;
}

.project__linkicon > svg {
  fill: white;
}

.project__website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.6375rem 1.275rem;
  font-size: 0.85rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.project--github {
  background-color: #333;
}

.project--site {
  background-color: #c62131;
}

.project__lighthousegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #9ca3af;
  padding-bottom: 0.75rem;
  gap: 0.75rem;
}

.project__lighthouseicon {
  max-width: 2.25rem;
}

.project__lighthousetext {
  font-size: 1.5rem;
}

.project__metrics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.project__overviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-align: center;
  row-gap: 1rem;
}

.project__gaugeitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  width: clamp(8rem, 35vw, 12rem);
}

.project__gaugecircle {
  background-color: rgba(0, 138, 0, 0.15);
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 6px solid #008a00;
}

.project__gaugevalue {
  color: #008a00;
  font-size: clamp(3rem, 12vw, 5rem);
}

.project__gaugetitle {
  color: #000000;
  font-weight: 500;
}

.project__metricitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #9ca3af;
}

.project__metrictitle {
  font-weight: 400;
  position: relative;
}

.project__metrictitle::before {
  content: '';
  position: absolute;
  left: -1.3rem;
  top: 0.35rem;
  border-radius: 10rem;
  width: 0.75rem;
  aspect-ratio: 1/1;
  background-color: #008a00;
}

.project__metricvalue {
  color: #008a00;
  font-weight: 600;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .project__metrics {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .project__overviews {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .project__gaugeitem {
    margin: unset;
    width: auto;
  }
  .project__gaugevalue {
    color: #008a00;
    font-size: 3rem;
  }
}

.projectsgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

.contact {
  background-color: white;
}

.contact__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  text-align: center;
  gap: 0.75rem;
}

.contact__greeting {
  color: #c62131;
  font-weight: 500;
}

.contact__header {
  font-size: 2rem;
  font-weight: 700;
  color: #262626;
}

.contact__subheader {
  margin: 0rem auto;
  width: 90%;
  color: #6b7280;
}

@media (min-width: 480px) {
  .contact__subheader {
    max-width: 30rem;
  }
}

.form {
  background-color: white;
  position: relative;
  padding: 2rem 0rem;
}

.form__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 0rem auto;
}

.form__inputgroup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 0.25rem;
}

.form__errormessage {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.form__radiogroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #6b7280;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form__radioinput {
  accent-color: #172c4b;
  margin-right: 0.1rem;
  background-color: white;
}

.form__radiolabel {
  margin-right: 0.25rem;
  font-weight: 400;
  color: #374151;
  padding: 0.5rem;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  color: #262626;
}

.form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #6b7280;
  color: #374151;
  font-family: "Inter";
}

.form__input:focus {
  background-color: #b3cee2;
}

.form--textarea {
  resize: vertical;
  font-family: "Inter", sans-serif;
}

.form__statusgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  gap: 0.25rem;
}

.form__iconblock {
  margin: auto 0rem;
}

.form__erroricon {
  height: 0.625rem;
  fill: #e74c3c;
}

.form__error {
  color: #e74c3c;
  font-size: 0.85rem;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.form__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #c62131;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgba(198, 33, 49, 0.95);
}

.form__button:focus {
  background-color: rgba(198, 33, 49, 0.95);
}

.contactbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactbox__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  margin: 2rem auto 2rem auto;
}

.contactbox__icon {
  width: 2.5rem;
  margin-right: 1rem;
}

.contactbox__info {
  white-space: pre-line;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

@media (min-width: 1025px) {
  .contactbox {
    min-width: 17.5rem;
  }
  .contactbox:not(:last-child) {
    margin-right: 1rem;
  }
  .contactbox__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
}
